Project Development Phase/Sprint 2/Workflow Diagram JSON.json
[{"id":"86613d49ae2aa715","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"da58d3f9576717d5","type":"ibmiot","name":"iot api","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"7bb7dff3650844af","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"496a4cd15f475370","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c69e8152028a257b","type":"ui_group","name":"Temperature","tab":"7bb7dff3650844af","order":1,"disp":true,"width":"6","collapse":false},{"id":"a5af677cd86ef04b","type":"ui_tab","name":"Motor Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"553b6a3d867df6e1","type":"ui_group","name":"Controls","tab":"a5af677cd86ef04b","order":1,"disp":true,"width":"6","collapse":false},{"id":"37f352e14b898565","type":"ui_group","name":"Humidity","tab":"7bb7dff3650844af","order":2,"disp":true,"width":"6","collapse":false},{"id":"192027f4fd68a8c3","type":"ui_group","name":"Soil Moisture","tab":"7bb7dff3650844af","order":3,"disp":true,"width":"6","collapse":false},{"id":"049ffb2028429557","type":"cloudant","host":"https://apikey-v2-16eureydo4yrw0m3xefcdv6szhuhzgxit6lenmyehlzx:7fb357b36d33e96ecf5faa3647bdb86f@b6710f55-eb20-4711-abf6-04b9419401d0-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"5294e29e93ef0d30","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"d99cefdf8f5b3159","type":"ui_group","name":"weather monitoring","tab":"5869a8033ec3b485","order":1,"disp":true,"width":"6","collapse":false},{"id":"5869a8033ec3b485","type":"ui_tab","name":"control","icon":"dashboard","disabled":false,"hidden":false},{"id":"f2f2649a.0d0d98","type":"debug","z":"86613d49ae2aa715","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":120,"wires":[]},{"id":"6dcd426ab144ba37","type":"ibmiot in","z":"86613d49ae2aa715","authentication":"apiKey","apiKey":"da58d3f9576717d5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456789","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":80,"wires":[["a253352314080768","47a002989c146b82","99d955e9893abbfc","3b81ec25969762da"]]},{"id":"87b7fa0451a04f88","type":"ui_gauge","z":"86613d49ae2aa715","name":"temp","group":"c69e8152028a257b","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degree Celcius","format":"{{value}}","min":"-40","max":"80","colors":["#006eb3","#e6e600","#ca3838"],"seg1":"20","seg2":"45","x":650,"y":80,"wires":[]},{"id":"a253352314080768","type":"function","z":"86613d49ae2aa715","name":"Temperature","func":"msg.payload = msg.payload.temperature\nglobal.set('t', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":80,"wires":[["87b7fa0451a04f88","f2f2649a.0d0d98"]]},{"id":"47a002989c146b82","type":"function","z":"86613d49ae2aa715","name":"Humidity","func":"msg.payload = msg.payload.humidity\nglobal.set('h', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":140,"wires":[["f2f2649a.0d0d98","44b16c30e4875834"]]},{"id":"99d955e9893abbfc","type":"function","z":"86613d49ae2aa715","name":"Soil Moisture","func":"msg.payload = msg.payload.soilmoisture\nglobal.set('s', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":200,"wires":[["a0b1bc5bdad03442"]]},{"id":"44b16c30e4875834","type":"ui_gauge","z":"86613d49ae2aa715","name":"","group":"37f352e14b898565","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"80","x":660,"y":160,"wires":[]},{"id":"a0b1bc5bdad03442","type":"ui_gauge","z":"86613d49ae2aa715","name":"","group":"192027f4fd68a8c3","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"Ba","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"400","seg2":"800","x":670,"y":240,"wires":[]},{"id":"a16e821115885d20","type":"http in","z":"86613d49ae2aa715","name":"","url":"/sensor_data","method":"get","upload":false,"swaggerDoc":"","x":150,"y":300,"wires":[["fd990a9c9d33e511"]]},{"id":"12cc7a5f20e2f2b3","type":"http response","z":"86613d49ae2aa715","name":"httpresponse","statusCode":"","headers":{},"x":670,"y":300,"wires":[]},{"id":"fd990a9c9d33e511","type":"function","z":"86613d49ae2aa715","name":"","func":"msg.payload = {\"temperature\" : global.get(\"t\"), \"humidity\":global.get(\"h\"), \"soilmoisture\" : global.get(\"s\") }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":300,"wires":[["12cc7a5f20e2f2b3"]]},{"id":"fc367d32b1700ca1","type":"ibmiot out","z":"86613d49ae2aa715","authentication":"apiKey","apiKey":"da58d3f9576717d5","outputType":"cmd","deviceId":"123456789","deviceType":"ESP32","eventCommandType":"command","format":"json","data":"1","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":360,"wires":[]},{"id":"def464f0f1d22923","type":"ui_button","z":"86613d49ae2aa715","name":"","group":"553b6a3d867df6e1","order":0,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"topic","topicType":"msg","x":360,"y":380,"wires":[["fc367d32b1700ca1"]]},{"id":"4631f7b3f3d2187a","type":"ui_button","z":"86613d49ae2aa715","name":"","group":"553b6a3d867df6e1","order":1,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":370,"y":420,"wires":[["fc367d32b1700ca1"]]},{"id":"1a507b5fdbd51af3","type":"http in","z":"86613d49ae2aa715","name":"","url":"/control_data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":480,"wires":[["bce66b8b13b4458d","fc367d32b1700ca1"]]},{"id":"0a6396722882c885","type":"http response","z":"86613d49ae2aa715","name":"","statusCode":"","headers":{},"x":650,"y":480,"wires":[]},{"id":"bce66b8b13b4458d","type":"function","z":"86613d49ae2aa715","name":"","func":"msg.payload = msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":480,"wires":[["0a6396722882c885"]]},{"id":"3b81ec25969762da","type":"cloudant out","z":"86613d49ae2aa715","name":"","cloudant":"049ffb2028429557","database":"testing-db","service":"_ext_","payonly":false,"operation":"insert","x":660,"y":20,"wires":[]}]